<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Algorithm</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap/bootstrap.min.css">
    <script src="/assets/js/bootstrap/bootstrap.bundle.min.js"></script>
</head>
<body>
<div class="row">
    <div class="col d-flex justify-content-center">
        <form th:action="@{/algorithm}" method="post">
            <div class="row my-3">
                <div class="col">
                    <label for="userText">Write your text:</label>
                    <textarea class="form-control" name="userText" rows="10" cols="100" id="userText" th:text="${userText}" required></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col  d-flex justify-content-center">
                    <button type="submit" class="btn btn-success">Calculate</button>
                </div>
            </div>
            <div class="row my-3">
                <div class="col">
                    <p class="text-start">Unique character:
                    <span th:if="${uniqueCharacter} != null" th:text="${uniqueCharacter}"></span>
                    </p>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>